
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>url shprot</title>
        <meta name="description" content="Home page for url shprot">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/global.css" type="text/css" />
    </head>
    <body>
        <main>
            <h1>Wlecome to URL shorter!!!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur blanditiis architecto nisi, recusandae unde, eligendi veritatis repellat quaerat nobis iusto totam, tenetur quisquam impedit? Ratione quae odio nemo mollitia atque.</p>
            <table id="linksTable">
                <caption>
                    All shorted links here in the table down below
                </caption>
                <thead>
                    <th scope="col">Code</th>
                    <th scope="col">Link</th>
                    <th scope="col"><button id="createButton" class="action create">Create</button></th>
                </thead>
                <tbody>
                    <tr>
                        <td class="center">
                            <span class="block code">h43dh33x</span>
                        </td>
                        <td>
                            <span class="block"><a href="https://github.com/n04ka/url-shorter">https://github.com/n04ka/url-shorter</a></span>
                        </td>
                        <td class="center">
                            <button class="action delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="center">
                            <span class="block code">dccdc33e</span>
                        </td>
                        <td>
                            <span class="block"><a href="https://developer.mozilla.org/ru/docs/Learn_web_development/Core/Styling_basics/Tables">https://developer.mozilla.org/ru/docs/Learn_web_development/Core/Styling_basics/Tables</a></span>
                        </td>
                        <td class="center">
                            <button class="action delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="center">
                            <span class="block code">4bu3b4fh</span>
                        </td>
                        <td>
                            <span class="block"><a href="https://www.google.com/">https://www.google.com/</a></span>
                        </td>
                        <td class="center">
                            <button class="action delete">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <script src="/static/logic.js" defer></script>
    </body>
</html>